body {
  font-family: sans-serif;
  text-align: left;
  background-color: #131313;
  color: #F9F9F9;
}
/* CSS in App.css */
.line-container {
  display: flex;
  flex-direction: column;
}

.line {
  display: none;
}

.visible {
  display: block;
}
